.nav-item {
    border-radius: 3px;
    transition: background-color .5s;
}

.nav-item:hover {
    background-color: #0951bb;
}

.nav-item:first-child {
    margin-right: 4px;
}

.nav-item:last-child {
    margin-left: 4px;
}